@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 full-height" style="background-color: black; color: white;">
            <button class="btn btn-primary btn-lg" onclick="DecodeInput()">Uitvoeren</button>
            <textarea id="codeArea">
herhaal 
{
    beweeg(10);
    als(x == 500) {
        spring(500);
    }
}
            
</textarea>
        </div>
        <div class="col-md-8 full-height" style="padding: 0;">
            <canvas id="gameCanvas"></canvas>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/DataTree.js"></script>
    <script src="js/CommandDecode.js"></script>
    <script src="js/ArrayExtensions.js"></script>
    <script src="js/GameLogic.js"></script>
}